padding_setting = 0px 30px 10px 30px
.content
   create_images()
   .textBlock
      padding padding/2
      margin padding/2
      .imageBlock
         padding padding
         float right
         width 40%
         overflow hidden
      p
         line-height 2
         margin 1vw
         text-align justify
         text-indent 2vw
         word-spacing 0.5em
   .textFlex
      display flex
      flex-direction row
      justify-content stretch
      flex-wrap wrap  

   .textFlexLeft1
      display flex
      width 33.33%
      p
         line-height 2
         margin 0 2.5%
         text-align justify
         text-indent 2vw
         word-spacing 0.5em

   .textFlexRight1
      display flex
      flex-direction column
      justify-content space-evenly
      width 66.66%
      p
         line-height 2
         margin 0 1.25%
         text-align justify
         text-indent 2vw
         word-spacing 0.5em
   @media (max-width: 725px)
      .textBlock
         padding padding/2
         margin @padding
         .imageBlock
            margin padding
            float none
            margin auto
            width 50%
         p
            line-height 2
            margin padding
            text-align justify
            word-spacing 1px
      .textFlex
         display flex
         flex-direction column
         padding 0px
         align-items center
         .textBlock
            padding 0px
            margin 0px
            width 100%
         .textFlexRight1
            padding 0px
            margin 0px
            width 100%
         .textFlexLeft1
            padding 0px
            margin 0px
            width 100%
@import images_mix