min_size = 700px
body
   background-color #164B69
   font-size 16px
   font-family Arial
   box-sizing border-box
   .main-block
      width 50%
      min-width min_size
      min-height min_size
      margin 40px auto
      padding 10px 30px
      background-color #E3E3E3
      color black
      box-sizing border-box
      

@media(max-width:725px)
   body
      font-size 14px
      .main-block
         width 100%
         min-width 300px
         align-items center
@import main_page
@import blocks_page
@import font_page
@import menu
    