block variables
doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title #{title}
		link(rel="stylesheet", href= 'C:/Users/Сергей/Desktop/test1/styl/dist/main.css')
	body
		.main-block
			include Menu
			+createMenu(title)
			block content